html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	font-family: Roboto,Arial,sans-serif;
}

img {
	max-width: 100%;
}

h1 {
	color: #555;
	font-size: 32px;
}

h1 small {
	display: block;
	font-weight: lighter;
}

.wrapper {
	position: relative;
	height: 100%;
	max-height: 100%;
}

#map {
	height: 100%;
}

.nav-menu {

}

#nav-header {
	display: flex;
	min-height: 50px;
	height: 50px;
}

#nav-area {
	background-color: rgba(235,235,235,1);
	opacity: 0.8;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
	width: 350px;
	max-width: 100%;
	height: calc(100% - 35px);
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	#nav-area {
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
	}
}

#nav-btn {
	height: 50px;
	width: 50px;
	vertical-align: middle;
	margin: auto;
}

#map-subject {
	display: inline-block;
	margin: 5px;
	margin-left: auto;
	padding: 5px;
	text-align: right;
	color: #222;
}

#filter-menu {
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

#filter-box {
	width: 100%;
	min-height: 40px;
	font-size: 1.5em;
	box-sizing: border-box;
	padding-left: 12px;
}

.search-btn {
	padding-left: 0;
	margin-left: 0;
}

.hidden {
	display: none;
}

#filter-list {
	overflow: scroll;
	max-height: 100%;
	min-height: 50px;
	margin-bottom: 30px;
}

.filtered-park {
	box-shadow: 0px 3px 0px #EEEEEE;
	padding: 12px;
}

.filtered-park h2 {
	margin: 0;
	font-weight: lighter;
}

h2 {
	padding-left: 5px;
}


.api-list {
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	min-height: 75px;
}

.api-list .api-item {
	display: flex;
	justify-content: flex-start;
	padding-left: 5px;
}

.api-header > * {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	font-size: 36px;
	margin: auto;
}

.api-icon {
	width: 20%;
	height: 20%;
}

.api-header .api-icon {
	width: 10%;
	height: 10%;
}

.api-header h2 {
	color: #555 !important;
}

.api-item {
	width: 50%;
	box-sizing: border-box;
	display: block;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 3px;
}

.api-item h2 {
	color: #222;
	font-size: 20px;
}

.api-item > *{
	vertical-align: middle;
	line-height: normal;
	display: inline-block;
	margin: auto 2px auto 2px;
	font-weight: 500;
}

.park-info-window-title {
	font-size: 3em;
	margin: auto;
	text-align: right;
}

#info-window-content {
	max-width: 400px;
	max-height: 500px;
	overflow: scroll;
	padding-right: 10px;
}

.info-window-container {
	width: 100%;
	max-width: 100%;
	border: 1px black;
	background-color: rgb(230, 230, 230);
}

#flickr-photos {
	max-width: 100%;
	margin: 0;
}	

#flickr-photos img {
	max-height: 400px;
	max-width: 100%;
	margin: auto;
	margin-bottom: 5px;
	display: block;
}

.hidden {
	display: none;
}

.collapsed {
	height: auto !important;
}

#sources-header {
	text-align: right;
	color: #222;
	font-weight: 500;
	margin-right: 15px;
}

#wiki-articles {
	display: flex;
	flex-direction: column;
}

#wiki-articles a {
	font-size: 20px;
	color: #555;
	font-style: italic;
	text-align: right;
	margin: 5px 10px 5px 0px;
	box-shadow: 0px 3px #eee;
}

#foursquare-venues {
	display: flex;
	flex-direction: column;
}

#foursquare-venues a {
	font-size: 20px;
	color: #555;
	font-style: italic;
	text-align: right;
	margin: 5px 10px 5px 0px;
	box-shadow: 0px 3px #eee;
}