html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

.wrapper {
	position: relative;
	height: 100%;
}

#map {
	height: 100%;
}

.nav-menu {
	overflow: scroll;
}

#nav-area {
	background-color: rgba(235,235,235,255);
	opacity: 0.75;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
	width: 400px;
	max-width: 100%;
	max-height: 100%;
}

#map-subject {
	display: inline-block;
	margin: 4px;
}

#filter-box {
	width: 100%;
	height: 36px;
	font-size: 20pt;
	box-sizing: border-box;
}

.search-btn {
	padding-left: 0;
	margin-left: 0;
}

.hidden {
	display: none;
}

#filter-list {
	overflow: scroll;
}

.filtered-park h2 {
	padding-left: 5px;
}